.swiper {
    height: 400px;
    margin: 20px 40px 0 40px;
}

.swiper-slide {
    background-color: #ccc; /* رنگ پس‌زمینه برای وضوح بیشتر */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}