{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Tasks/css/create_category_style.css' %}">
    <title>Create Category</title>
</head>
<body>
    <div class="create-category-form">
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">{{ button }}</button>
        </form>
    </div>
    {% include 'Tasks/messages.html' %}
</body>
</html>