{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <title>TaskManager</title>
</head>
<body>
    <div class="navbar">
        <div class="inner-navbar">
            <h1>Task Manager</h1>
        </div>
    </div>
    <div class="under-navbar">
        <div class="login-signup">
            <a id="login" href="#">Log In</a>
            <a id="signup" href="#">Sign Up</a>
        </div>
        <div class="icons">
            <p>2</p>
        </div>
        <div class="serach-bar">
            <p>3</p>
        </div>
    </div>
</body>
</html>